<!doctype html>
<html>
    <head>
        <title>Create todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create A New List</h1>
                <form method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>