<!doctype html>
<html>
    <head>
        <title>List Details</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{todos_object.name}}</h1>
                <div>
                    <p>
                        <a href="{% url 'edit_todo' todos_object.id %}">Edit</a>
                    </p>
                </div>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todos_object.items.all %}
                            <tr>
                                <td>{{ item.task }}</td>
                                <td>{{ item.due_date|date:'M d, Y' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>