<!doctype html>
<html>
    <head>
        <title>Todo's List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <div>
                    <p>
                        <a href="{% url 'create_todo' %}">Create A New List</a>
                    </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number Of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todos_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'todos_details' todo.id %}">{{ todo.name }}</a>
                                </td>
                                <td>{{ todo.items.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>